@import url(//db.onlinewebfonts.com/c/f7d1b2995a6dff7abcda304d226aa67d?family=HelveticaW01-Bold);
@font-face {
    font-family: "HelveticaW01-Bold"; 
    src: url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.eot"); 
    src: url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.woff") format("woff"), url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f7d1b2995a6dff7abcda304d226aa67d.svg#HelveticaW01-Bold") format("svg"); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* defining pallete color */
    --bg--color:#ebebeb;
    --hd--color:#d4d4d4c9;
    --txt--color:#2f3345;
}

/* overall loyalt */

.wd{
    width: 79vw;
}
body{
    background-color: var(--bg--color);
}

.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 245px;
    height: 49px;
    right: 15px;
    bottom: 30px;
    background-color: var(--txt--color);
}

.chat a{    
    text-decoration: none;
    color:white;
    font-size:16px;
    font-family: HelveticaW01-Bold;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------  Header   ---------------------------------------*/
/* ------------------------------------------------------------------------------------- */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    min-height: 70px;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-left:10vw;
    padding-right:10vw;
    width:100vw;
    height: 6vh;
    min-height: 27px;
    background-color:var(--hd--color);
    
    
}

h1{
    color:var(--txt--color);
}
nav a{
    text-decoration: none;
    color:var(--txt--color);
    font-family: Helvetica, sans-serif;
    /* font-weight: lighter; */
    font-size: 16px;
    /* padding:10px; */
}

/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------- caroesel -------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

.carosel{
    height: 60vh;
    margin-bottom:10px;
    overflow: hidden;
}

.promos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--txt--color);
    height: 40px;
    margin-bottom:10px;
    padding:20px;
    color:rgb(204,204,204);
    font-family: Helvetica, sans-serif;
    font-size: 13px;
}
.promo-content{
    display: flex;
    justify-content: space-evenly;
    padding:10px;

}

.promo-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:-10px;
}

.promo-icon{
    display: inline;
    /* padding:5px; */
    font-size:30px;
    color:#e8d848;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-items:flex-start;
    /* column-gap: 10px; */
}

.left-img1{
    grid-column:1;
    grid-row:1;
}

.left-img2{
    grid-column:1;
    grid-row:1;
    align-self: flex-end;
}
.rigth-img{
    grid-column:1;
}